.cart-wrapper{
    position: fixed;
    right:20px;
    top:20px;
    z-index: 3;
}

.cart-icon-wrapper{
    cursor: pointer;
    /* position: absolute;
    top:20px;
    right:20px; */
}

.cart-container{
    display: flex;
    flex-flow: column;
    position: absolute;
    top:70px;
    right:90px;
    height:500px;
    width: 800px;
    transform-origin: top right;
    transition: all .3s ease;
    /* transform: scale(0); */
    background-color: #ccc;
    border: 2px solid #ccc;
}

.cart-container h4{
    color: rgb(73, 73, 248);
    margin: 10px auto;
}

.cart-products-list{
    overflow: scroll;
    width: 800px;
    background-color: white;
    max-height: 320px;
    display: flex;
    flex-wrap: nowrap;
    /* padding: 15px; */
}

.cart-container .product-card{
    margin:0 10px;
    height: 280px;
    width: 300px;
    min-width: 300px;
}

.cart-container .product-card:hover{
    transform: scale(1);
}

.cart-item-number{
    vertical-align: top;
    padding: 2px 8px;
    color: #fff;
    border-radius: 50%; 
    font-size: 20px; 
    font-weight: 500;
    background-color: red;
}

.bottom-cart-section{
    display: flex;
    justify-content: space-between; 
}

.amounts-display{
    font-size: 18px;
    color: rgb(73, 73, 248);
    font-weight: 600;
}

.amounts-display span{
    color: black;
}

.total-amount,
.discount-amount,
.final-amount{
    margin: 20px 10px;
}

.offers-suggestions{
    font-size: 18px;
    font-weight: 600;
    color: rgba(226, 26, 26, 0.815);
    margin: auto;
}