.cart-wrapper{
    position: fixed;
    right:20px;
    top:20px;
    z-index: 3;
}

.cart-icon-wrapper{
    cursor: pointer;
    /* position: absolute;
    top:20px;
    right:20px; */
}

.cart-container{
    display: flex;
    flex-flow: column;
    position: absolute;
    top:70px;
    right:90px;
    height:500px;
    width: 800px;
    transform-origin: top right;
    transition: all .3s ease;
    /* transform: scale(0); */
    background-color: #ccc;
    border: 2px solid #ccc;
}

.cart-products-list{
    display: flex;
    overflow: scroll;
    max-width: 800px;
    background-color: white;
    max-height: 400px;
    /* padding: 15px; */
}

.cart-container .product-card{
    margin:0 10px;
    height: 350px;
    width: 300px;
}

.cart-item-number{
    vertical-align: top;
    padding: 2px 8px;
    color: #fff;
    border-radius: 50%; 
    font-size: 20px; 
    font-weight: 500;
    background-color: red;
}

.bottom-cart-section{
    display: flex;
    justify-content: space-between; 
}