.product-filters-container{
    /* flex:1; */
    width: 19%;
    background-color: white;
    /* padding: 0 15px;  */
    height: 800px;
}

.product-filters-container h3{
    margin-left: 15px; 
}

.loading-indicator{
    text-align: center;
    margin: auto;
}