.product-card{
    width:  300px;
    height: 350px; 
    cursor: pointer;
}

.product-card:hover{
    transform-origin: center;
    transform: scale(1.05);
    z-index: 3;
}


.product-image img{
    height: 100px;
}

/* .product-card .product-title{
    height: 50px;
} */


.rating-widget span{
    background-color: green; 
    border-radius: 2px;
}

.rating-widget span img{
    vertical-align: top;
}

.mrp-text{
    text-decoration: line-through;
    color: rgb(77, 72, 72);
    margin: 0 5px;
}